#products-section {
  margin-block: 9rem 13rem;
}

#products-section > .button-more {
  text-transform: none;
  color: var(--text-2);

  display: block;
  padding: var(--spacing-1) var(--spacing-4);
  margin: 5rem auto 0;
}

#products-section > .products-list {
  --column-size: 49rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, var(--column-size)));
  justify-content: center;
  gap: var(--spacing-3);

  padding: var(--spacing-3) var(--spacing-1) 0;
}

/* 37.5rem = 600px / 16px */
@media (min-width: 37.5rem) {
  #products-section > .title {
    margin-block-end: 5rem;
  }

  #products-section > .products-list {
    --column-size: 20rem;
    gap: var(--spacing-5);
  }
}

/* 58.75rem = 940px / 16px */
@media (min-width: 58.7rem) {
  #products-section > .products-list {
    padding-inline: 0;
  }
}
