.special-section {
  max-inline-size: 92rem;
  margin: 9rem auto 13rem;
}

.special-section > .title {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: var(--spacing-2);

  font-size: var(--fs-4);
  font-weight: var(--fw-bold);
  text-align: center;
  color: var(--text-2);
}

.special-section > .title::before,
.special-section > .title::after {
  content: '';

  block-size: 2px;
  background-color: var(--text-2);
}

.special-section > .button-more {
  text-transform: none;
  color: var(--text-2);

  display: block;
  padding: var(--spacing-1) var(--spacing-4);
  margin: 5rem auto 0;
}

.special-section > .products-list {
  --column-size: 49rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, var(--column-size)));
  justify-content: center;
  gap: var(--spacing-3);

  padding: var(--spacing-3) var(--spacing-1) 0;
}

/* 37.5rem = 600px / 16px */
@media (min-width: 37.5rem) {
  .special-section > .title {
    margin-block-end: 5rem;
  }

  .special-section > .products-list {
    --column-size: 20rem;
    gap: var(--spacing-5);
  }
}

/* 58.75rem = 940px / 16px */
@media (min-width: 58.7rem) {
  .special-section > .products-list {
    padding-inline: 0;
  }
}
