.button {
  display: inline-block;

  font-family: inherit;
  font-size: var(--fs-3);
  font-weight: var(--fw-bold);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  outline: none;
  border: 1px solid var(--surface-2);
  border-radius: 4px;
  padding: var(--spacing-1) var(--spacing-3);

  cursor: pointer;

  will-change: transform;
  transition: transform 200ms ease-in-out;
}

.button:hover {
  transform: scale(1.03);
}

.button:focus-visible {
  outline: 2px solid var(--text-1);
  outline-offset: 3px;
}

.button.-full {
  display: block;
  inline-size: 100%;
  padding-block: 1.2rem;
}

.button.-primary {
  color: var(--text-3);
  background-color: var(--surface-2);
}

.button.-secondary {
  color: var(--text-1);
  background-color: var(--surface-1);
}

.button[data-loading] {
  pointer-events: none;
  cursor: default;
}

.button > .loader {
  inline-size: 18rem;
  block-size: 2.2rem;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.button > .loader > span {
  inline-size: 1.2rem;
  block-size: 1.2rem;

  border-radius: 50%;
  margin-inline: var(--spacing-1);

  animation: bounce 450ms ease-in infinite;
}
.button > .loader > span:nth-of-type(2) {
  animation-delay: 0.1s;
}
.button > .loader > span:nth-of-type(3) {
  animation-delay: 0.2s;
}

.button.-primary > .loader > span {
  background-color: var(--surface-1);
}

.button.-secondary > .loader > span {
  background-color: var(--surface-2);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1rem);
  }
}
