.navigation {
  --columns: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(auto, 16rem));
  justify-content: center;
  gap: var(--spacing-3);

  margin-block-start: 5rem;
}

/* 57.5rem = 920px / 16px   */
@media (min-width: 57.5rem) {
  .navigation {
    --columns: 4;
    gap: var(--spacing-5);
  }
}

.navigation > .link {
  justify-self: center;

  min-inline-size: 16rem;

  font-size: var(--fs-2);
  text-align: center;

  color: var(--text-1);
  background-color: var(--surface-1);

  padding-block: 1.2rem;
  border: 1px solid var(--surface-2);
  border-radius: 4px;
}

.algorithm-section {
  max-width: 92rem;

  display: grid;
  grid-template-columns: minmax(auto, 50rem);
  justify-content: center;
  gap: var(--spacing-4);

  padding-inline: var(--spacing-2);
  margin: var(--spacing-4) auto 0;
}

@media (min-width: 60rem) {
  .algorithm-section {
    grid-template-columns: 1fr 34rem;
    gap: 6rem;
  }
}

.algorithm-section .title {
  font-size: var(--fs-5);
  font-weight: var(--fw-bold);
  color: var(--text-2);

  margin-block-end: var(--spacing-4);
}

.algorithm-section .paragraph {
  font-size: var(--fs-2);
  line-height: 1.5;
}

.algorithm-section .paragraph + .paragraph {
  margin-block-start: var(--spacing-3);
}

.algorithm-section .button {
  width: 100%;

  font-family: inherit;
  font-size: var(--fs-3);
  font-weight: var(--fw-bold);
  text-align: center;
  text-transform: uppercase;

  color: var(--text-3);
  background-color: var(--surface-2);

  padding-block: 1.2rem;
  border: 1px solid var(--surface-2);
  border-radius: 4px;

  cursor: pointer;
}

:is(.input-block, .radios-container) > label {
  font-size: var(--fs-2);
  font-weight: var(--fw-bold);
  color: var(--text-2);

  cursor: pointer;
}

.input-block {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);

  margin-block-end: var(--spacing-2);
}

.input-block > input {
  font-size: var(--fs-2);
  font-family: inherit;

  border: 2px solid var(--surface-2);
  border-radius: 5px;
  outline: none;

  padding: var(--spacing-1);
}

.radios-container {
  display: flex;
  align-items: center;

  margin-block-end: var(--spacing-2);
}

.radios-container > label {
  display: flex;
  align-items: center;
}

.radios-container > :is(label + label) {
  margin-inline-start: var(--spacing-5);
}

.radios-container input {
  --size: 1.5rem;

  appearance: none;

  inline-size: var(--size);
  block-size: var(--size);

  border: 2px solid var(--surface-2);
  border-radius: 50%;
  margin-inline-end: 0.5rem;

  position: relative;
}

.radios-container input:checked::before {
  content: '';

  position: absolute;
  inset: 0;

  inline-size: 65%;
  block-size: 65%;

  background-color: var(--surface-2);
  border-radius: 50%;
  margin: auto;
}
