.container {
  max-inline-size: 92rem;
  margin-inline: auto;
}

.container > .home-section > .title {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: var(--spacing-2);

  font-size: var(--fs-4);
  font-weight: var(--fw-bold);
  text-align: center;
  color: var(--text-2);
}

.container > .home-section > .title::before,
.container > .home-section > .title::after {
  content: '';

  block-size: 2px;
  background-color: var(--text-2);
}
