.algorithm-section {
  max-width: 92rem;

  display: grid;
  grid-template-columns: minmax(auto, 50rem);
  justify-content: center;
  gap: var(--spacing-4);

  padding-inline: var(--spacing-2);
  margin: var(--spacing-4) auto 0;
}

@media (min-width: 60rem) {
  .algorithm-section {
    grid-template-columns: 1fr 34rem;
    gap: 6rem;
  }
}

.algorithm-section .title {
  font-size: var(--fs-5);
  font-weight: var(--fw-bold);
  color: var(--text-2);

  margin-block-end: var(--spacing-4);
}

.algorithm-section .paragraph {
  font-size: var(--fs-2);
  line-height: 1.5;
}

.algorithm-section .paragraph + .paragraph {
  margin-block-start: var(--spacing-3);
}

.algorithm-form > .input-block {
  margin-block-end: var(--spacing-2);
}

.algorithm-form > .radios-container > label {
  font-size: var(--fs-2);
  font-weight: var(--fw-bold);
  color: var(--text-2);

  cursor: pointer;
}

.algorithm-form > .radios-container {
  display: flex;
  align-items: center;

  margin-block-end: var(--spacing-2);
}

.algorithm-form > .radios-container > label {
  display: flex;
  align-items: center;
}

.algorithm-form > .radios-container > :is(label + label) {
  margin-inline-start: var(--spacing-5);
}

.algorithm-form > .radios-container input {
  --size: 1.5rem;

  appearance: none;

  inline-size: var(--size);
  block-size: var(--size);

  border: 2px solid var(--surface-2);
  border-radius: 50%;
  margin-inline-end: 0.5rem;

  position: relative;
}

.algorithm-form > .radios-container input:checked::before {
  content: '';

  position: absolute;
  inset: 0;

  inline-size: 65%;
  block-size: 65%;

  background-color: var(--surface-2);
  border-radius: 50%;
  margin: auto;
}
